.todoColumn {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.todosList {
  padding: 20px;
  height: 620px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: solid 1px rgba(0, 0, 0, 0.267);
}

.todosItem {
  height: 120px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: solid 1px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
}

.taskTitle {
  line-height: 1.2;
  font-size: 15px;
  word-wrap: break-word;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cardScroll {
  padding-right: 10px;
  max-height: 650px;
  overflow-y: auto;
}

.cardScroll::-webkit-scrollbar {
  width: 8px;
}

.cardScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.cardScroll::-webkit-scrollbar-thumb {
  background: #88888856;
  border-radius: 4px;
}

.cardScroll::-webkit-scrollbar-thumb:hover {
  background: #5555557e;
}
